<div class="pagination position-absolute top-100 start-50 translate-middle shadow-lg p-3 mb-5 bg-body rounded">
    <span class="setp-links">
      {%if page.has_previous%}
      <a href="?page={{page.previous_page_number}}"class="btn btn-outline-primary">Previous Page</a>
      {% endif %}
      <span class="current ">
        page {{page.number}} of {{page.paginator.num_pages}}
      </span>

      {%if page.has_next%}
      <a href="?page={{page.next_page_number}}" class="btn btn-outline-primary">Next page</a>
      {% endif%}
    </span>
  </div>